<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1.0.1706.4" android:versionName="beta" package="PCRemoter.PCRemoter">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="PCRemoter.Android" android:icon="@drawable/icon"></application>
</manifest>